.button {
    display: inline-flex;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 30px;
    background-color: #fff;
    color: #444;
    font-weight: 500;
    -webkit-box-shadow: 1px 2px 4px 0 rgba(#000, 0.15);
    -moz-box-shadow: 1px 2px 4px 0 rgba(#000, 0.15);
    -o-box-shadow: 1px 2px 4px 0 rgba(#000, 0.15);
    box-shadow: 1px 2px 4px 0 rgba(#000, 0.15);
    border: none;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    outline: none;
}
.button:active {
    -webkit-box-shadow: 1px 1px 2px 0 rgba(#000, 0.15);
    -moz-box-shadow: 1px 1px 2px 0 rgba(#000, 0.15);
    -o-box-shadow: 1px 1px 2px 0 rgba(#000, 0.15);
    box-shadow: 1px 1px 2px 0 rgba(#000, 0.15);
}
.button[type=button]:not(:disabled), .button[type=reset]:not(:disabled), .button[type=submit]:not(:disabled), .button:not(:disabled) {
    cursor: pointer;
}
.button-primary {
    background-color: #f80;
    color: #fff;
    -webkit-box-shadow: 1px 2px 4px 0 rgba(#f00, 0.5);
    -moz-box-shadow: 1px 2px 4px 0 rgba(#f00, 0.5);
    -o-box-shadow: 1px 2px 4px 0 rgba(#f00, 0.5);
    box-shadow: 1px 2px 4px 0 rgba(#f00, 0.5);
}
.button-large {
    min-width: 100px;
    height: 50px;
    font-weight: 300;
    font-size: inherit;
}
.button-fill {
    min-width: 100%;
}
.button-loading {
    cursor: not-allowed;
}
.button-loading .button-text, .button-loading .button-icon {
    display: none;
}
.button-spinner {
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #f3f3f3;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border-top: 2px solid #f80;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% {
    }
    100% {
    }
}

